/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
/*@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');*/

#datetime-picker {
  margin-top: 24px;
  width: 280px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;

  padding: 0;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
  padding-left: 16px;
}

#datetime-picker:hover {
  border: 1px solid #000000;
}
/*бордюр не синішає!*/
#datetime-picker:active {
  border: 1px solid #4e75ff;
  color: #000000;
}

#datetime-picker:disabled {
  border: 1px solid #808080;
  color: #808080;
  background-color: #fafafa;
}

.startBtn {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  border: none;

  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  margin-left: 5px;
}

.startBtn:hover {
  background: #6c8cff;
}

.startBtn:disabled {
  background: #cfcfcf;
  color: #989898;
}
.timer {
  margin-top: 32px;
  display: flex;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.value {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 1.6px;
}

.label {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

input {
  padding-block: 0;
  padding-inline: 0;
}
/* стилізація календаря */
.flatpickr-calendar {
  width: 280px !important;
  background-color: #f2f2f0 !important;
}
.flatpickr-current-month {
  color: #3b62ee !important;
}

.flatpickr-weekday {
  color: #0c0ca8 !important;
  font-weight: 500 !important;
}
.flatpickr-rContainer {
  width: 280px !important;
  min-width: 280px !important;
  max-width: 280px !important;
}
.dayContainer {
  width: 280px !important;
  min-width: 280px !important;
  max-width: 280px !important;
}

.flatpickr-days {
  width: 280px !important;
}

.flatpickr-day.today {
  color: #3b62ee;
  font-weight: 500;
  background-color: #f8f8f8;
}

/* стилізація сповіщення про помилку */
/*.error-toast {
  width: 302px;
  height: 64px;
  display: inline-flex;
  padding: 20px;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border-bottom: 2px solid #ffbebe;
  background: #ef4040;
}
.animate {
  color: #b51b1b;
}*/

/*iziToast-wrapper iziToast-wrapper-topRight*/
/*.iziToast-capsule {
  width: 302px;
  height: 64px;
  display: inline-flex;
  padding: 20px;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border-bottom: 2px solid #ffbebe;
  background: #ef4040;
}*/
