/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
/*@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');*/

/* ======== стилізація поля із датою і часом ======== */
#datetime-picker {
  box-sizing: border-box;
  margin-top: 24px;
  width: 280px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 0;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
  padding-left: 16px;
}

#datetime-picker:hover {
  border: 1px solid #000000;
}

#datetime-picker:focus-visible {
  border: 1px solid #4e75ff !important;
  outline: none !important; /* видаляємо стандартний контур */
}

#datetime-picker:active {
  border-color: #4e75ff !important;
  color: #000000;
}

#datetime-picker:disabled {
  border: 1px solid #808080;
  color: #808080;
  background-color: #fafafa;
}

/* ======== стилізація кнопки Start ======== */
.startBtn {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  border: none;

  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  margin-left: 5px;
}

.startBtn:hover {
  background: #6c8cff;
}

.startBtn:disabled {
  background: #cfcfcf;
  color: #989898;
}

/* ======== стилізація таймера ======== */
.timer {
  margin-top: 32px;
  display: flex;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.value {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 1.6px;
}

.label {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

input {
  padding-block: 0;
  padding-inline: 0;
}

/* ======== стилізація календаря ======== */
.flatpickr-calendar {
  width: 280px !important;
  background-color: #edeef0 !important;
}

.flatpickr-current-month {
  color: #3b62ee !important;
}

.flatpickr-weekday {
  color: #0c0ca8 !important;
  font-weight: 500 !important;
}

.flatpickr-rContainer {
  width: 280px !important;
  min-width: 280px !important;
  max-width: 280px !important;
}

.dayContainer {
  width: 280px !important;
  min-width: 280px !important;
  max-width: 280px !important;
}

.flatpickr-days {
  width: 280px !important;
}

.flatpickr-day.today {
  color: #3b62ee;
  font-weight: 500;
  background-color: #f8f8f8;
}

.flatpickr-time input {
  color: #0c0ca8 !important;
  font-weight: 500 !important;
}

/* ==== стилізація повідомлення про помилку при виборі дати-часу ==== */

.iziToast {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center;
  padding: 0 !important;
  height: auto !important;
}

.iziToast.iziToast-color-red {
  /*border-color: #ef4040 !important;*/
  background: #ef4040 !important;
  border-radius: 4px !important;
}

.iziToast-body {
  box-sizing: border-box;
  min-height: 1px !important;
  padding: 20px 62px 20px 52px !important;
  margin: 0 !important;
  border-radius: 4px !important;
}

.iziToast-texts {
  margin: 0 !important;
  padding-right: 0 !important;
}

.iziToast-message {
  margin: 0 !important;
  color: #ffffff !important;
  font-family: Montserrat !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  letter-spacing: 0.5px !important;
}

.error-toast {
  display: inline-flex;
  align-items: center !important;
  gap: 8px !important;
}

/* стилізація слова Error */
:root {
  font-synthesis: weight;
}
.iziToast-message.slideIn .error-toast .title {
  font-weight: 700 !important;
}

/* додавання іконок */
.iziToast-icon {
  background: url('../img/bi_x-octagon.svg') no-repeat 50% 50% !important;
  margin-left: 20px !important;
}
.iziToast-close {
  background: url('../img/bi_x-lg.svg') no-repeat 50% 50% !important;
  border: none !important;
  cursor: pointer !important;
  opacity: 1 !important;
  /*background-size: 30% !important;*/
}

/* ==== стилізація прогрес-бару ==== */
.iziToast-progressbar {
  background: #ffbebe !important;
  border-radius: 0 0 4px 4px !important;
}

/* ==== завдання № 2 ==== */
.form {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
  margin-top: 36px;
}

.inputDelayField {
  box-sizing: border-box;
  display: flex;
  width: 360px;
  height: 40px;
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 30px;
  border-width: 1px; /* 2 DZ */
  padding: 0; /* 2 DZ */
}

input.inputDelayField[name='delay'] {
  border-color: #808080 !important;
}

input.inputDelayField[name='delay']:hover {
  border-color: #000000 !important;
}

fieldset {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 360px;
  height: 76px;
  border-radius: 4px;
  flex-shrink: 0;

  stroke-width: 1px;
  stroke: #808080;
  margin-top: 0;
  margin-inline: 0;
  padding-inline: 1.75em; /*відступ справа State*/
  margin-bottom: 24px; /*відступ до кноаки*/
}

/* ======== стилізація кнопки Create Notification ======== */
.createBtn {
  width: 360px;
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  /*gap: 10px;*/
  border-radius: 8px;
  background: #4e75ff;
  border: none;

  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}
